{% load static i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Arnel Imperial{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
    {% comment %} <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> {% endcomment %}
    <!-- Your stuff: Third-party CSS libraries go here -->
    <link href="{% static 'css/journal-bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}
  </head>
  <body class="page-top">
    <div style="margin-bottom:75px;">
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
		    <div class="container">
          <a class="navbar-brand js-scroll-trigger font-weight-bold" href="{% url 'core:main-app' %}">Arnel Imperial</a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					  <span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'core:main-app' %}">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#">Projects</a>
              </li>
              {% if request.user.is_authenticated %}
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#">Contact</a>
              </li>
              <li class="nav-item">
                <div class="w3-dropdown-hover">
                  <button class="w3-btn btn-primary bg-primary text-light">{{ request.user.email }}</button>
                  <div class="w3-dropdown-content w3-bar-block w3-border">
                    <span class="w3-bar-item btn">Hi! {{request.user.get_full_name }}</span>
                      <a class="w3-bar-item btn" href="{% url 'users:detail' request.user.username  %}">{% trans 'My Profile' %}</a>
                      <a class="w3-bar-item btn" href="{% url 'account_logout' %}">{% trans "Logout" %}</a>
                  </div>
                </div> 
              </li>
					    {% else %}
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'account_login' %}">{% trans "Portal" %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'about' %}">Contact</a>
              </li> 
              {% endif %}
				    </ul>
          </div>
        </div>
      </nav>
    </div>
	<!-- Start of content -->
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div style="margin-bottom:-5px;" class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
        {% endfor %}
      {% endif %}
      {% block content %}

      {% endblock content %}
    </div>
    <!-- End of content -->
    {% block modal %}{% endblock modal %}
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> 
    {% block javascript %}{% endblock javascript %}
  </body>
</html>
 
