{% extends "base.html" %}
{% comment %} {% load render_bundle from webpack_loader %} {% endcomment %}

{% block content %}
<noscript>
    <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>

<div id="app"></div>

<!-- built files will be auto injected -->
{% comment %} {% render_bundle 'app' %} {% endcomment %}
{% endblock %}