{% extends "base.html" %}
{% load static i18n %}

{% block css %}
   
{% endblock %}

{% block content %}
<noscript>
    <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div id="app"></div>
{% endblock %}

{% block javascript %}
    
{% endblock %}